.DS_Store
.vscode/
.vs/

/data/*
/bin/*
src/github.com/grafana/grafana/data/*
src/github.com/grafana/grafana/bin/*

src/github.com/grafana/grafana/node_modules
src/github.com/grafana/grafana/npm-debug.log
src/github.com/grafana/grafana/yarn-error.log
src/github.com/grafana/grafana/coverage/
src/github.com/grafana/grafana/.aws-config.json
src/github.com/grafana/grafana/awsconfig
/.awcache
src/github.com/grafana/grafana/dist
src/github.com/grafana/grafana/public/build
src/github.com/grafana/grafana/public/views/index.html
src/github.com/grafana/grafana/emails/dist
/public_gen
src/github.com/grafana/grafana/public/vendor/npm
/tmp
src/github.com/grafana/grafanatools/phantomjs/phantomjs
src/github.com/grafana/grafanatools/phantomjs/phantomjs.exe
profile.out
coverage.txt

src/github.com/grafana/grafanadocs/AWS_S3_BUCKET
src/github.com/grafana/grafanadocs/GIT_BRANCH
src/github.com/grafana/grafanadocs/GITCOMMIT
src/github.com/grafana/grafanadocs/changed-files

src/github.com/grafana/grafana/data/log/
src/github.com/grafana/grafana/data/sessions