<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIMUTOOL - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="introCont col-8 offset-2 secondaryPanel">
            <h1>SIMUTOOL</h1>
            <a th:href="@{/newsimulation/}"><img th:src="@{/icon_add_panel.svg}" class="pointerCursor addImgButton" ></img>
            <h3 class="pointerCursor">Start new simulation</h3></a>

            <div th:if="${saved}" class="loadSavedCont">
                <h4>or load a saved one:</h4>
                    <div class="horisontalScroll">
                        <th:block th:each="sim : ${saved}">
                        <a class="col-3 pointerCursor" th:href="@{load(id=${sim.id})}">
                            <img th:src="@{/icn-panel.svg}"  class=""></img>
                            <span th:text="${sim.name}" class="col-12">...</span>
                        </a>
                        </th:block>
                    </div>
                      
            </div>
    </div>

</body>
</html>