<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIMUTOOL - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"></link>
        <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>
</head>
<body>

    <div class="introCont col-8 offset-2 secondaryPanel">
            <h1>SIMUTOOL</h1>
            <a th:href="@{/newsimulation/}"><img th:src="@{/icon_add_panel.svg}" class="pointerCursor addImgButton" ></img>
            <h3 class="pointerCursor">Start new experiment</h3></a>

            <div th:if="${saved}" class="loadSavedCont">
                <h4>or load a saved one:</h4>
                    <div class="horisontalScroll">
                        <th:block th:each="sim,iter : ${saved}">
                        <a class="col-3 pointerCursor" th:href="@{load(id=${iter.index})}">
                            <img th:src="@{/icn-panel.svg}"  class=""></img>
                            <span th:text="${sim.name}" class="col-12">...</span>
                        </a>
                        </th:block>
                    </div>
                      
            </div>
    </div>

</body>
</html>