<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New experiment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
	<link rel="shortcut icon" type="image/png" th:href="@{/fav32.png}"/>
	<link rel="shortcut icon" type="image/png" th:href="@{/fav16.png}"/>
	   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"></link>
    	   <script th:src="@{/js/popper.min.js}"></script>
    
    <script th:src="@{/js/jquery.min.js}" ></script>
        <script th:src="@{/js/bootstrap.min.js}" ></script>

</head>
<body>

    <div class="introCont col-8 offset-2 secondaryPanel">
            <h1  >New experiment:  </h1>

            <form class="form-group col-12" action="#" th:action="@{/newsimulation}" th:object="${simulation}" method="post">
                <span style="color: red;" th:text="${error}"></span>
                <p >Name: 
                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Give a name to your experiment under which it will be saved later"></i>
                 <input class="form-control" style="margin-top:10px" id="simName" type="text" th:field="*{name}" value="pendingName"  /></p>


<p>

  <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Advanced
  </button>
</p>
<div class="row collapse" id="collapseExample">
       <div class="row" style="margin-left:-7.5px; margin-right:-7.5px">
       
         <p class="col-12" style="">Description: 
         <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Describe your experiment (optional)"></i>
         <input class="form-control" id="simDesc" type="text" th:field="*{description}" value="pendingName"  /></p>
		 
		 <p class="col-6" style="">Operator:  
		  <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the name of the person in charge for this experiment from the list below"></i>
		 <select id="simOps" class="form-control" th:field="*{operators}">
                <option th:each="el : ${json}" th:if="${el.type} == 'http://www.simutool.com/User'" th:value="${el.identifier}" th:text="${el.title}"></option>
        </select>
         
         <p class="col-6" style="">Oven: 
          <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the oven you are using from the list"></i>
        <select id="simOven" class="form-control" th:field="*{oven}">
                <option th:each="el : ${json}" th:if="${el.type} == 'http://www.simutool.com/Oven'" th:value="${el.identifier}" th:text="${el.title}"></option>
        </select>
      		 
      		 <p class="col-6" style="">Material: 
                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Pick the material"></i>
                  <select id="simMat" class="form-control" th:field="*{material}">
                <option th:each="el : ${json}" th:if="${el.type} == 'http://www.simutool.com/Material'" th:value="${el.identifier}" th:text="${el.title}"></option>
            </select>

            <p class="col-6" style="">Part: 
               <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Pick a part"></i>
               <select id="simTool" class="form-control" th:field="*{part}">
                <option th:each="el : ${json}" th:if="${el.type} == 'http://www.simutool.com/Part'" th:value="${el.identifier}" th:text="${el.title}"></option>
            </select>
              
            <p class="col-6" style="">Start date: 
      		 <input class="form-control " style="background-color: #ccc; cursor:not-allowed" disabled id="simTool" type="text" readonly th:value="${ simulation.date}"   /></p>
      
       </div>
</div>

                 <div class="addPanelCont">
                    <h4>Panels:
                         <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Each panel will represent a separate
                         diagram, so that you can group your data (sensors, simulations, curing cycles) in a reasonable way. You can add up to three panels."></i>
                    </h4>
                        <div class="col-12">
                          
                            <div  class="col-3 panelConts" th:each="panel,iter : ${pendingPanels}" >
                                <a  th:onclick="@{'passPanelInfo(' + ${panel.finalId} + ')'}">
                                    <img th:src="@{/icn-panel.svg}" class=" " ></img>
                                    <span th:text="${panel.name}"  class="col-12 panelLabel"></span>
                                </a>
                                <a class="btn btn-outline-danger" th:href="@{'/removePanel/' + ${panel.finalId}}">Remove &times;</a>
                            </div>
							<div class="col-3 panelConts noPanel" th:if="${pendingPanels.size()<3}" >
                                <a  th:onclick="@{'toggleNewPanel(' + ${panel.finalId} + ')'}">
                                    <span th:text="${'+'}" class="col-12 panelLabel">Add new graph</span>
                                </a>
                            </div>
                          
                        </div> 
                 </div>
                <p><input class="btn btn-success submitBtn" type="submit" value="Start experiment" /> </p>
            </form>
    </div>

        <div id="newPanelModal" class="modal"  tabindex="-1" role="dialog">
             <div class="modal-dialog" role="document">
               <form class="form-group col-12"  th:action="@{'/newpanel/' + ${panel.finalId}}" th:object="${panel}" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                          <h5 class="modal-title">New panel</h5>
                          <a href="/newsimulation"><button type="button" class="close"  aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                          </button></a>
                    </div>
                     <div class="modal-body">
                        <span style="color: red;" th:text="${panelError}"></span>
                        <input style="display: none;" type="number"  name="edit" value="1" th:if="${edit}" />
                        <input style="display: none;" type="text" id="simulationNameForPanel" th:field="*{simulationName}"  />
                        <input class="form-control" id="modalId" type="text" style="display: none;" th:field="*{finalId}" />
                        <p>Panel Name: 
                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Give a name to your panel nder which it will be saved later"></i>
                        <input class="form-control" id="modalName" type="text" th:field="*{name}"  /></p>
                        
                        <div class="row filesInPanels" >
                        	<a th:href="${'/removeFile/' + panel.finalId + '/' + iter.index}" class="col-3" th:each="file,iter : ${panel.getFiles()}">
                        		<i th:class="${file.type.equals('Curing cycle') ? 'fas fa-file-alt' :
                        		 (file.type.equals('Simulation') ? 'fas fa-file-signature' : 'fas fa-file-medical-alt')}"></i>
                        		<p th:text="${file.type}"></p>
                        		<p th:text="${file.name}"></p>
                        	</a>
                        	                        	
                        </div>
                        
                        <h5>Add new dataset:</h5>
                                            
                        
                         <p style="margin-bottom: 0">Type of data: 
                          <div class="form-group radioWrapper" >
						    <select class="form-control" id="fileTypeSelect" onchange="typeSpecFields(false)" th:field="*{pendingFile.type}">
							<option value="---">---</option>
						
						      <option value="Sensor">Sensor</option>
						  	  <option value="Simulated sensor">Simulated sensor</option>
						   
						      <option value="Simulation">Simulation</option>
						      <option value="Curing cycle">Curing cycle</option>
						    </select>
						  </div></p>
						
						 
                          <p id="filepicker-label">Data: <input class="form-control" language="en" id="modalSens" type="file" th:field="*{pendingFile}" /></p>
                         
						  <div class="card card-body bg-light" id="influxdb-name-label">
							  <span>InfluxDB field name (please copy)
							  <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" 
							  title='Push you data to influx with &quot;db&quot; as database name and this identifier as field name'>
							  </i></span>
							  <p class="" style="text-align:center;margin-top:10px">
							 <span id="streamNameSpan" style="color:#000;border:2px dashed #000;padding:10px;">P1_sensor_1</span> 
							  </p>
						  </div>
						  
						 <div id="stream-select-label" style="margin-bottom: 0">Datasource: 
						 <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" 
							  title='Choose the dataset you want to stream'>
							  </i>
                          <div class="form-group radioWrapper" >
						    <select class="form-control" id="streamSelect"  type="file" th:field="*{pendingFile.datasource_id}" >

                			<option th:each="i : ${json}" th:if="${i.type} == 'http://www.simutool.com/DataSet'" th:value="${i.identifier}" th:text="${i.title}"></option>

						    </select>
						  </div>
						  </div>
						  
						  <p id="file-name-label">Display name: 
                        	<i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Describe the dataset (optional)"></i>
                        	<input class="form-control" language="en" id="modalSens" type="text" th:field="*{pendingFile.name}" /></p>
                         
						  
						 <div class="row"><button type="submit" name="new file" class="btn btn-default col-4 offset-4 addFileToPanelBtn">Add dataset</button></div>
						  
                    </div>
                    <div class="modal-footer">
                        <a ><button type="submit" name="new panel" class="btn btn-primary">Save panel</button></a>
                    </div>
                </div>
               </form>

           
            </div>
        </div>
</body>
<script type="text/javascript"  th:if="${modal}">
    $(window).on('load',function(){
        $('#newPanelModal').modal('show');
    });

    $('#newPanelModal').on('hidden.bs.modal', function(e) {
            $('#newPanelModal').modal('show');
    });


</script>
<script type="text/javascript" >
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$(function () {
  typeSpecFields(true);
})

    function passPanelInfo(id){
        var name =  $("#simName").val();
        window.location.href = "/editpanel/" + id + "/?simulation=" + name;
    }
    
    function toggleNewPanel(id){
        var name =  $("#simName").val();
        window.location.href = "/newpanel?simulation=" + name;
    }
    
    function typeSpecFields(start){
    	let value = $("#fileTypeSelect").val();
    	let sensorFields = $("#file-name-label, #influxdb-name-label, #stream-select-label");
    	let nonSensorFields = $("#file-name-label, #filepicker-label");
      	
      	sensorFields.hide();
    	nonSensorFields.hide();  
    	
    	if(start || value == "---"){
			$(".addFileToPanelBtn").hide();
    	}else if(value == "Sensor"){
    	
    	$.ajax({
				method: 'GET',
				url: '/generateStreamField',
				headers: {
					'Access-Control-Allow-Origin': '*',
					'Content-Type': 'application/json'
		},
		}).then(function successCallback(response) {
		console.log(response);
			$("#streamNameSpan").text(response);
			
    		sensorFields.show();
    		$(".addFileToPanelBtn").show();
    		
    	}, function errorCallback(response) {
				console.log(response);
		});	
		

    		
    	}else{
    		nonSensorFields.show();
    		$(".addFileToPanelBtn").show();
    	}
    }
    
    $("#simName, #simDate, #simTime, #simDesc, #simOps, #simOven, #simTool").on("change", function(e, t){
    	const name = e.target.name;
    	const value = e.target.value;
    	$.ajax({
				method: 'POST',
				url: '/setSimulationData',
				data: JSON.stringify({ [name]: value }),
				headers: {
					'Access-Control-Allow-Origin': '*',
					'Content-Type': 'application/json'
		},
		}).then(function successCallback(response) {
			console.log(response);		
		}, function errorCallback(response) {
				console.log(response);
		});	
    	
    })

</script>


</html>