<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New experiment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}"></link>
    <script th:src="@{/js/jquery.min.js}" ></script>
        <script th:src="@{/js/bootstrap.min.js}" ></script>

</head>
<body>

    <div class="introCont col-8 offset-2 secondaryPanel">
            <h1>New experiment:</h1>

            <form class="form-group col-12" action="#" th:action="@{/newsimulation}" th:object="${simulation}" method="post">
                <span style="color: red;" th:text="${error}"></span>
                <p >Name: <input class="form-control" id="simName" type="text" th:field="*{name}" value="pendingName"  /></p>

                 <div class="addPanelCont">
                    <h4>Panels:</h4>
                        <div class="col-12">
                            <div  class="col-3 panelConts" th:classappend="${pendingPanels.size()>0} ? dummy : noPanel" >
                                <a  onclick="passPanelInfo(0)">
                                    <img th:if="${pendingPanels.size()>0}" th:src="@{/icn-panel.svg}" class=" " ></img>
                                    <span th:text="${pendingPanels.size()>0 ? pendingPanels.get(0).name : '+'}"  class="col-12 panelLabel">Add new graph</span>
                                </a>
                                <a class="btn btn-outline-danger" th:if="${pendingPanels.size()>0}" th:href="@{'/removePanel/' + ${pendingPanels.get(0).id}}">Remove &times;</a>
                            </div>
                            <div  class="col-3 panelConts" th:classappend="${pendingPanels.size()>1} ? dummy : noPanel" >
                                <a onclick="passPanelInfo(1)">
                                    <img th:if="${pendingPanels.size()>1}" th:src="@{/icn-panel.svg}" class=" " ></img>
                                    <span th:text="${pendingPanels.size()>1 ? pendingPanels.get(1).name : '+'}" class="col-12 panelLabel">Add new graph</span>
                                </a>
                                <a class="btn btn-outline-danger" th:if="${pendingPanels.size()>1}" th:href="@{'/removePanel/' + ${pendingPanels.get(1).id}}">Remove &times;</a>
                            </div>
                            <div class="col-3 panelConts" th:classappend="${pendingPanels.size()>2} ? dummy : noPanel" >
                                <a onclick="passPanelInfo(2)">
                                    <img th:if="${pendingPanels.size()>2}" th:src="@{/icn-panel.svg}" class=" " ></img>
                                    <span th:text="${pendingPanels.size()>2 ? pendingPanels.get(2).name : '+'}" class="col-12 panelLabel">Add new graph</span>
                                </a>
                                <a class="btn btn-outline-danger" th:if="${pendingPanels.size()>2}" th:href="@{'/removePanel/' + ${pendingPanels.get(2).id}}">Remove &times;</a>
                            </div>
                        </div> 
                 </div>
                <p><input class="btn btn-success submitBtn" type="submit" value="Submit" /> </p>
            </form>
    </div>

        <div id="newPanelModal" class="modal"  tabindex="-1" role="dialog">
             <div class="modal-dialog" role="document">
               <form class="form-group col-12"  th:action="@{/newpanel}" th:object="${panel}" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                          <h5 class="modal-title">New panel</h5>
                          <a href="/newsimulation"><button type="button" class="close"  aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                          </button></a>
                    </div>
                     <div class="modal-body">
                        <span style="color: red;" th:text="${panelError}"></span>
                        <input style="display: none;" type="text" id="simulationNameForPanel" th:field="*{simulationName}"  />
                        <input class="form-control" id="modalId" type="text" style="display: none;" th:field="*{id}" />
                        <p >Name: <input class="form-control" id="modalName" type="text" th:field="*{name}" /></p>
                        <p >Sensor: <input class="form-control" id="modalSens" type="file" th:field="*{sensorPath}" /></p>
                        <p >Simulation: <input class="form-control"  id="modalSim" type="file" th:field="*{simulationPath}" /></p>
                        <p >Curing cycle: <input class="form-control"  id="modalCur" type="file" th:field="*{curingCyclePath}" /></p>
                    </div>
                    <div class="modal-footer">
                        <a ><button type="submit" class="btn btn-primary">Save changes</button></a>
                        <a href="/newsimulation"><button type="button" class="btn btn-secondary">Close</button></a>
                    </div>
                </div>
               </form>

           
            </div>
        </div>
</body>
<script type="text/javascript"  th:if="${modal}">
    $(window).on('load',function(){
        $('#newPanelModal').modal('show');
    });

    $('#newPanelModal').on('hidden.bs.modal', function(e) {
            $('#newPanelModal').modal('show');
    });


</script>
<script type="text/javascript" >
    function passPanelInfo(id){
        var name =  $("#simName").val();
        window.location.href = "/" + name + "/newpanel/" + id ;
    }


</script>


</html>