body{
    background-color: #171819;
    color: #d8d9da;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.secondaryPanel{
    background-color:  #212124;
}
.introCont{
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}
.introCont .addImgButton{
    padding-top: 70px;
    padding-bottom: 40px;
}
.introCont a{
    color: inherit;
}
.horisontalScroll{
    overflow: auto;
    white-space: nowrap;
    margin-top: 20px;
}
.horisontalScroll > a, .addPanelCont .panelConts{
    display: inline-block;
    text-align: center;
    padding: 0;
    color: inherit;
    vertical-align: top;
}
.horisontalScroll span{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    white-space: normal;
}
.addPanelCont .panelLabel{
    display: block;
    white-space: normal;
}
.pointerCursorб .noPanel{
    cursor: pointer;
}
.loadSavedCont, .addPanelCont{
    margin-top: 70px;
}
.addPanelCont .col-12{
    padding: 0;
}
.submitBtn{
    margin-top: 20px;
}

.addPanelCont .panelConts{
    cursor: pointer;
    min-height: 70px;
}
.panelConts.noPanel a{
    line-height: 70px;
}
.addPanelCont .col-12 img{
    padding: 15px;
}
.panelConts .btn-outline-danger{
    padding: 5px;
    line-height: 12px;
    font-size: 12px;
    margin-top: 10px;
}

.noPanel{
     border: 2px dashed grey;
     height: 100px;
     margin-top:15px;
     width:100px;
}
#newPanelModal{
    color: black;
}
.modal-body p span{
    color: red;
}
.modal-body h5{
    text-align: center;
    border-top: 1px solid #e9ecef;
    padding: 5px;
}
.filesInPanels {
	padding: 15px;
	justify-content: space-around;
}
.filesInPanels div{
	margin: 5px;
	padding: 0;
	padding-top: 15px;
	border: 1px solid red;
	min-height:100px;
	text-align: center;
   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    background-color: #e3e8ee;
    border-color: #e9edf2;
    color: #767980;
    border: 1px solid #c7d0d9;
    cursor: pointer;
}
.filesInPanels div i{
	font-size: 30px;
}
.filesInPanels div p{
	font-size: 12px;
	margin-bottom: 0;
}

.radioWrapper label{
	margin-right: 20px;
}
.radioWrapper input{
	margin-right: 5px;
}
.filesInPanels div:hover{
	background-image: url(../fontawesome/svgs/solid/times.svg); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.filesInPanels div:hover p, .filesInPanels div:hover i{
	opacity: 0;
}
.addFileToPanelBtn{
	background-color: #e3e8ee;
	color: #767980;
}
.addFileToPanelBtn:hover{
	background-color: #767980;
	color: #e3e8ee;
	transition: 0.3s;
}









 





